<!DOCTYPE HTML>
<html lang="ko" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <style>
        .form-container {
            max-width: 700px;
            margin: 20px auto;
            padding: 20px;
            background: #ffffff;
            border-radius: 12px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        .form-header {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
        }
    </style>
</head>
<body layout:fragment="content">
<div class="container my-3">
    <a th:href="@{/item/products}" class="btn btn-outline-secondary" style="width: 3.5%;">←</a>

<div class="form-container">
    <div class="form-header">상품 등록</div>
    <form th:object="${productForm}" method="post">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">카테고리</label>
            <select th:field="*{category}" id="category" class="form-select">
                <option th:value="${defaultCategory.id}" th:text="${defaultCategory.categoryName}" th:selected="true"></option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.categoryName}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="productName" class="form-label">상품명</label>
            <input type="text" th:field="*{productName}" id="productName" class="form-control" placeholder="상품명을 입력하세요">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">가격</label>
            <input type="number" th:field="*{price}" id="price" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div class="d-grid">
            <input type="submit" value="등록" class="btn btn-primary">
        </div>
    </form>
</div>
</div>
</body>
</html>
