<!DOCTYPE HTML>
<html lang="ko" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
</head>

<body layout:fragment="content">
<div class="container my-3">
    <a th:href="@{/item}" class="btn btn-outline-secondary" style="width: 3.5%;">←</a>

    <table class="table">
        <thead class="table-dark">
        <tr class="text-center">
            <th>번호</th>
            <th>카테고리명</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="category, loop : ${categories}">
            <td th:text="${loop.count}"></td>
            <td class="text-start">
                <a th:href="@{|/item/category/${category.id}|}"
                   th:text="${category.categoryName}"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- 페이징 처리 시작
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=@{paging.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0,paging.totalPages-1)}"
                th:if="${page>=paging.number-5 and page<=paging.number+5}"
                th:classappend="${page==paging.number} ? 'active'" class="page-item">
                <a th:text="${page}" class="page-link"
                   th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    페이징 처리 끝 -->
    <a th:href="@{/item/addCategory}" class="btn btn-primary">카테고리 추가</a>
</div>
</body>
</html>