<!DOCTYPE HTML>
<html lang="ko" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
</head>

<body layout:fragment="content">
<div class="container my-3">
    <a th:href="@{/}" class="btn btn-outline-secondary" style="width: 3.5%;">←</a>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3><span class="fw-bold fs-4" th:text="${#temporals.format(today,'MM월dd일') + ' 매출'}"></span></h3>
        <a th:href="@{/close/finish}" class="btn btn-primary">마감정산</a>
    </div>
    <table class="table">
        <thead class="table-dark">
        <tr class="text-center">
            <th>번호</th>
            <th>결제시간</th>
            <th>결제금액</th>
            <th>결제수단</th>
            <th>결제취소</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="payment, loop : ${payments}">
            <td th:text="${loop.count}"></td>
            <td th:text="${#temporals.format(payment.paymentTime,'HH:mm')}"></td>
            <td th:text="${payment.totalPrice}"></td>
            <td th:text="${payment.paymentMethod}"></td>
            <td class="text-start">
                <a th:href="'#'"
                   th:data-uri="@{|/close/payments/${payment.id}/delete|}"
                   class="delete btn btn-outline-danger">
                    취소
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if (confirm("정말로 취소하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });
</script>
</body>
</html>